<div id="carousel" class="carousel slide" data-bs-ride="carousel">
    <ol class="carousel-indicators">
        <li data-bs-target="#carousel" data-bs-slide-to="0" class="active"></li>
        <li data-bs-target="#carousel" data-bs-slide-to="1"></li>
        <li data-bs-target="#carousel" data-bs-slide-to="2"></li>
        <li data-bs-target="#carousel" data-bs-slide-to="3"></li>
        <li data-bs-target="#carousel" data-bs-slide-to="4"></li>
        <li data-bs-target="#carousel" data-bs-slide-to="5"></li>
        <li data-bs-target="#carousel" data-bs-slide-to="6"></li>
        <li data-bs-target="#carousel" data-bs-slide-to="7"></li>
        <li data-bs-target="#carousel" data-bs-slide-to="8"></li>
    </ol>
    <div class="carousel-inner">
        <!--1-->
        <div class="carousel-item active">
            <img src="https://res.cloudinary.com/drcov9nik/image/upload/v1610680054/Easy%20English/09c930bf-c6a1-4e4c-a273-d50fe8d328a7_rgbc4v.jpg"
                class="imgCarrucel d-block img-fluid" alt="...">
        </div>
        <!--2-->
        <div class="carousel-item">
            <img src="https://res.cloudinary.com/drcov9nik/image/upload/v1610680054/Easy%20English/942b1c3b-2fc4-4f0a-833d-31168c71d421_uyemp9.jpg"
                class="imgCarrucel d-block" alt="...">
        </div>
        <!--3-->
        <div class="carousel-item">
            <img src="https://res.cloudinary.com/drcov9nik/image/upload/v1610681196/Easy%20English/WhatsApp_Image_2020-01-29_at_11.49.11_AM_p4zli2.jpg"
                class="imgCarrucel d-block img-fluid" alt="...">
        </div>
        <!--4-->
        <div class="carousel-item">
            <img src="https://res.cloudinary.com/drcov9nik/image/upload/v1610680054/Easy%20English/69d9f4d8-2c26-4950-b7f6-797759e7025d_i5evis.jpg"
                class="imgCarrucel d-block img-fluid" alt="...">
        </div>
        <!--5-->
        <div class="carousel-item">
            <img src="https://res.cloudinary.com/drcov9nik/image/upload/v1610680055/Easy%20English/WhatsApp_Image_2019-05-23_at_22.23.46_tssfyk.jpg"
                class="imgCarrucel d-block img-fluid" alt="...">
        </div>
        <!--6-->
        <div class="carousel-item">
            <img src="https://res.cloudinary.com/drcov9nik/image/upload/v1610680053/Easy%20English/51110844_2173430872743650_694799045612273664_n_dsvszp.jpg"
                class="imgCarrucel d-block img-fluid" alt="...">
        </div>
        <!--7-->
        <div class="carousel-item">
            <img src="https://res.cloudinary.com/drcov9nik/image/upload/v1610680054/Easy%20English/IMG-20200220-WA0013_xt8xer.jpg"
                class="imgCarrucel d-block img-fluid" alt="...">
        </div>
        <!--8-->
        <div class="carousel-item">
            <img src="https://res.cloudinary.com/drcov9nik/image/upload/v1610684684/Easy%20English/IMG_20180505_132432_tev84x.jpg"
                class="imgCarrucel d-block img-fluid" alt="...">
        </div>
        <!--9-->
        <div class="carousel-item">
            <img src="https://res.cloudinary.com/drcov9nik/image/upload/v1610680054/Easy%20English/78601589_2730563780363687_5637789611368382464_n_hilhoj.jpg"
                class="imgCarrucel d-block img-fluid" alt="...">
        </div>
    </div>
    <a class="carousel-control-prev" href="#carousel" role="button" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carousel" role="button" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </a>
</div>
