.imgCarrucel {
    height: 600px;
    width: auto;

    display:block;
    margin:auto;
    
}

#carousel {
    padding-left: 60px;
    padding-right: 60px;
}

.carousel-inner {
    background-color: #C0C0C0;
}

